channels==3.0.4
channels-redis==3.3.1
Django==4.0.1
django-admin-inline-paginator==0.3.0
django-channels==0.7.0
django-cors-headers==3.10.1
django-crispy-forms==1.13.0

# sudo systemctl start redis
# sudo systemctl stop redis
# sudo systemctl restart redis